# PANDAS

---

It works same like storing data in a Excel Sheet
But the Limitations of Excel are

- Limitation By Size (only million rows)
- Complex data Transformation
- Automation
- Cross platform Capabilities

In Pandas it is a array

- Series (1D array)
- Dataframes (2D array)

Features are atrributes and the data rae called observation

### Excel Terminology -> Pandas terminology

- Worksheet -> Dataframe
- Column -> Series
- Row Heading or number -> Index
- Empty cell -> NaN

## 1. Creating a dataframe from an array

### 1.1 Option 1

In [17]:
import pandas as pd
import numpy as np

In [18]:
# creating a array
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# creating a dataframe form the array using pandas
df=pd.DataFrame(data,columns=['col1','col2','col3'],index=['row1','row2','row3']) 

# printing the dataframe
df

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

### 1.2 option 2(Creating a array with list)

In [ ]:
# creating a array with list
my_list=[['Sutapa',19,'Me'],
           ['Sandipan',15,'Brother'],
           ['Prity',20,'Friend']]
# creating a dataframe from the list using pandas
df=pd.DataFrame(my_list,columns=['Name','Age','Relation'],index=['A.','B.','C.'])
df

        Name  Age Relation
A.    Sutapa   19       Me
B.  Sandipan   15  Brother
C.     Prity   20   Friend

## 2. By using a Dictionary

In [30]:
# list of the dictionaries
states=['West Bengal','Assam','Bihar','Sikkim']
Population=[10000000,2000000,30000000,25000]
# creating a dictionary out of the list
my_dict={'states':states,'Population':Population}

# creating a dataframe from the dictionary using pandas
df=pd.DataFrame(my_dict,columns=['states','Population'])
df

        states  Population
0  West Bengal    10000000
1        Assam     2000000
2        Bihar    30000000
3       Sikkim       25000

## 3. Creating a Dataframe from a CSV file

In [ ]:
# reading a csv file
df=pd.read_csv('C:/Users/Lenovo/Downloads/StudentsPerformance.csv')
df.head() # displaying the first 5 rows of the dataframe
df.tail() # displaying the last 5 rows of the dataframe
df.tail(2) # displaying the last 10 rows of the dataframe

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Attributes and Methods

In [ ]:
# reading a csv file
df=pd.read_csv('C:/Users/Lenovo/Downloads/StudentsPerformance.csv')
df.shape # displaying the shape of the dataframe (rows, columns) No of rows and columns

NameError: name 'df' is not defined

In [ ]:
df.index # displaying the index of the dataframe

In [ ]:
df.columns # displaying the columns of the dataframe