# PANDAS

---

It works same like storing data in a Excel Sheet
But the Limitations of Excel are

- Limitation By Size (only million rows)
- Complex data Transformation
- Automation
- Cross platform Capabilities

In Pandas it is a array

- Series (1D array)
- Dataframes (2D array)

Features are atrributes and the data rae called observation

### Excel Terminology -> Pandas terminology

- Worksheet -> Dataframe
- Column -> Series
- Row Heading or number -> Index
- Empty cell -> NaN

## 1. Creating a dataframe from an array

### 1.1 Option 1

In [10]:
import pandas as pd
import numpy as np

In [11]:
# creating a array
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# creating a dataframe form the array using pandas
df=pd.DataFrame(data,columns=['col1','col2','col3'],index=['row1','row2','row3']) 

# printing the dataframe
df

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

### option 2 . Creating a array with list

In [14]:
# creating a array with list
my_list=[['Sutapa',19,'Me'],
           ['Sandipan',15,'Brother'],
           ['Prity',20,'Friend']]
# creating a dataframe from the list using pandas
df=pd.DataFrame(my_list,columns=['Name','Age','Relation'],index=['A.','B.','C.'])
df

        Name  Age Relation
A.    Sutapa   19       Me
B.  Sandipan   15  Brother
C.     Prity   20   Friend